<div class="card">
  <h3 class="card-header">New Note</h3>
  <div class="card-block">
    <%= form_for [@ceu, @note] do |f| %>
    <%= f.hidden_field :ceu_id %>
    <%= f.text_area :content, size: "50x6" %>
    <%= f.submit class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
</div>
