<div class="card card-block">
  <h4 class="display-4">Add a Note:</h4>
  <p class="card-text">
    <%= form_for @ceu.notes.new do |f| %>
    <%= f.hidden_field :ceu_id %>
    <%= f.text_area :content, size: "30x6" %><p>
  <div class="card-block">
    <%= f.submit class: 'btn btn-outline-primary' %>
  <% end %>
</div>
