<table class="table table-hover">
  <thead class="thead childrens-9">
    <tr>
      <th class="display-4">Notes</th>
    </tr>
  </thead>
  <tbody>
      <% @ceu.notes.each do |note| %>
      <tr>
        <td>
            <%= note.content %>
        </td>
        <% end %>
      </tr>
  </tbody>
</table>
