<table class="table table-hover">
  <thead class="thead childrens-9">
    <tr>
      <th class="display-4">Notes</th>
    </tr>
  </thead>
  <tbody>
      <!-- <% @ceu.notes.most_recent.uniq.each do |note| %>
      <tr>
        <td class="lead">
            <% if note.content.nil? %>
            <%= link_to "Click here to Edit your First Note!", edit_ceu_note_path(@ceu.id, note) %>
            <% else %>
            <%= link_to note.content, ceu_note_path(@ceu.id, note) %>
            <% end %>
        </td>
        <% end %>
      </tr> -->
  </tbody>
</table>
