<table class="table table-hover">
  <thead class="thead childrens-9">
    <tr>
      <th class="display-4">Notes</th>
    </tr>
  </thead>
  <tbody>
      <% @ceu.notes.most_recent.uniq.each do |note| %>
      <tr>
        <td class="lead">
            <%= link_to note.content, edit_note_path %>
        </td>
        <% end %>
      </tr>
  </tbody>
</table>
