<div class="container">
  <div class="row">
    <div class="col-xs-6 offset-md-3">
      <div class="card">
        <h1 class="card-header display-4 childrens-4 text-xs-center">Edit Note</h1>
          <%= render 'edit' %>
      </div>
    </div>
  </div>
</div>
