<table class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Title</th>
      <th>Date <small>(most recent first)</small)</th>
    </tr>
  </thead>
  <tbody>
      <% current_user.ceus.most_recent.each do |ceu| %>
      <tr>
        <td>
            <%= link_to ceu.title, ceu_path(ceu) %> 
        </td>
        <td>
            <%= ceu.date.strftime("%m/%d/%Y") %>
        </td>
        <% end %>
      </tr>
  </tbody>
</table>
