<div class="card">
  <h3 class="card-header text-xs-center childrens-6">Your Information:</h3>
  <div class="card-block">
    <p class="card-text"><strong>Occupation:</strong> <%= @user.occupation %></p>
    <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
    <p class="card-text"><strong>Last Login:</strong> <%= @user.last_login %></p>
  </div>
  <div class="card-footer text-xs-center">
    <%= link_to "Edit User", edit_user_registration_path(@user), class: 'btn btn-outline-warning' %>
  </div>
</div>
