@import "bootstrap";
@import "font-awesome";

button {
  background-color: transparent;
  border-radius: none;
  border: none;
  display: inline-block;
}
.container-welcome img {
  height: auto;
  width: 500px;
}
.container-welcome {
  text-align: center;
  width: 750px;
  margin: 0 auto;
}

.footer p {
  text-align: center;
}

.navbar-dark {
  background-color: #8C2D77;
}
