@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto:300';

body {
  font-family: 'Roboto', sans-serif;
}

#users {
    a {
        color: black;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        color: #E94E84;
    }
}


h1 {
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: transparent;
  border-radius: none;
  border: none;
  display: inline-block;
}
.container-welcome img {
  height: auto;
  width: 500px;
}
.container-welcome {
  text-align: center;
  width: 750px;
  margin: 0 auto;
}

.footer p {
  text-align: center;
}
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #DEEFF8;
    border-color: #C4E3F3;
    color: #387B9A;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #FCF9E7;
    border-color: #FBF4D2;
    color: #957843;
    text-align: left;
 }
 .childrens-1 {
   background-color: #01B3CF;
 }
 .childrens-2 {
   background-color: #A4D6E1;
 }
 .childrens-3 {
   background-color: #79CAE8;
 }
 .childrens-4 {
   background-color: #81C44D;
   color: white;
 }
 .childrens-5 {
   background-color: #AAD144;
 }
 .childrens-6 {
   background-color: #8E2D76;
   color: white;
 }
 .childrens-7 {
   background-color: #A85084;
 }
 .childrens-8 {
   background-color: #D061A3;
   color: white;
 }
 .childrens-9 {
   background-color: #E94E84;
   color: white;
 }
