/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto:300';

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: transparent;
  border-radius: none;
  border: none;
  display: inline-block;
}

.footer p {
  text-align: center;
}

 .childrens-1 {
   background-color: #01B3CF;
 }
 .childrens-2 {
   background-color: #A4D6E1;
 }
 .childrens-3 {
   background-color: #79CAE8;
 }
 .childrens-4 {
   background-color: #81C44D;
   color: white;
 }
 .childrens-5 {
   background-color: #AAD144;
 }
 .childrens-6 {
   background-color: #8E2D76;
   color: white;
 }
 .childrens-7 {
   background-color: #A85084;
 }
 .childrens-8 {
   background-color: #D061A3;
   color: white;
 }
 .childrens-9 {
   background-color: #E94E84;
   color: white;
 }
