<div class="container">
  <div class="row">
    <div class="col-xs-6 offset-md-3">
      <h1 class="display 4 card-header childrens-4">My CEUs</h1>
        <a href="#" class="show-ceu">Show CEUs</a>
        <div class="ceuDetails">
          <ul>
          </ul>
        </div>
      <!-- <%= render 'users/userceus' %> -->
    </div>
  </div>
</div>
