<div class="container">
  <div class="row">
    <div class="col-xs-6 offset-md-3">
      <h1 class="display 4 card-header childrens-4">My CEUs</h1>
        <a href="#" class="show-ceu">Show CEUs</a>
        <div class="ceuDetails">
          <ul>
          </ul>
        </div>
      <!-- <%= render 'users/userceus' %> -->
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $("a.show-ceu").on("click", function(e){
    e.preventDefault();
    $.get(this.href).success(function(json) {
      var $ul = $("div.ceuDetails ul")
      $ul.html("")
      json.forEach(function(ceu){
        var commentHtml = "<li>" + ceu.title + "</li>";
        $ul.append(commentHtml);
      });
    });
  });
});
</script>
