<h1 class="display-4">Enter CEU Information:</h1>

<%= render 'form' %>
  <br><br>
<div id="show">
  <h1 id="ceuDetails"></h1>
    <ul>
      <li id="ceuTitle"></li>
      <li id="ceuDate"></li>
      <li id="ceuLocation"></li>
      <li id="ceuDuration"></li>
    </ul>
</div>
