<div class="container">
  <div class="row">
    <div class="col-xs-6 offset-md-3">
      <%= render 'ceu' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= render 'notes/form' %>
    </div>
    <div class="col-xs-6">
      <%= render 'notes/notes' %>
  </div>
</div>
