<div class="container">
  <div class="row">
    <div class="col-xs-6 offset-md-3">
      <%= render 'ceu' %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    var IDs = <%= current_user.ceu_ids %>
    $('.js-next').on('click', function(event){
      event.preventDefault();
      var nextId = IDs.shift();
      $.get("/ceus/" + nextId + ".json", function(data){
        var date = new Date(data["date"]);
        var result = (date.getMonth()+1) + '/' +(date.getDate()+1)  + '/' + date.getFullYear();
        $('#ceuTitle').text(data["title"]);
        $('#ceuLocation').text("Location: " + data["location"]);
        $('#ceuDate').text("Date: " + result);
        $('#ceuDuration').text("Duration: " + data["duration"] + " minutes");
        $('#ceuCertificate').text("Certificate: " + data["certificate"]);
        $('.js-next').attr("data-id", data["id"]);
      });
    });
// fadeOut after clicking "Next CEU", and fadeIn for next CEU
  });
</script>
