<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= render 'ceu' %>
    </div>
    <div class="col-sm-6">
      <%= render 'notes/form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr class="m-y-2">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'notes/notes' %>
    </div>
  </div>
</div>
