<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= render 'ceu' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= render 'notes/notes' %>
    </div>
  </div>
</div>
