<div class="container">
  <div class="row">
    <div class="col-xs-6 offset-md-3">
      <%= render 'ceu' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="card">
        <h1 class="card-header display-4 childrens-4 text-xs-center">New Note</h1>
          <%= render 'notes/form' %>
      </div>
    </div>
    <div class="col-xs-6">
      <%= render 'notes/notes' %>
  </div>
</div>
